* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::selection {
  color: white;
  background-color: #1B191A;
}

:root {
  --clr-primary: #5B5F97;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  font-family: "Lexend";
  color: #1B191A;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.page-bg {
  background-image: url("../images/thunderstorm.jpg");
  background-size: cover;
  background-position: 40% center;
  background-repeat: no-repeat;
  position: relative;
}
.page-bg .darken {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
}
.page-bg header {
  user-select: none;
  pointer-events: none;
  backdrop-filter: blur(3px);
  padding: 10px;
  z-index: 2;
  position: relative;
  margin-top: 25%;
  display: flex;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  justify-content: center;
  place-items: center;
  column-gap: 0.5rem;
}
.page-bg header .logo {
  width: 80px;
  object-fit: contain;
}
.page-bg header h1 {
  letter-spacing: 10px;
  font-family: "Norse";
  font-size: 4rem;
}
.page-bg p.accreditation {
  backdrop-filter: blur(3px);
  z-index: 1;
  color: white;
  position: absolute;
  font-size: 15px;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  font-weight: 200;
}

.main {
  padding-top: 5vh;
  background-color: #CCA43B;
  --padding: 2rem;
}
.main .text {
  padding: 0 var(--padding) 1rem;
}
.main .form #form header, .main .form #form .form-grid, .main .form #form .submit {
  padding: 1rem var(--padding);
}
.main .form #form header, .main .form #form .form-grid {
  background-color: #E5E5E5;
}
.main .form #form input {
  display: block;
  border: 1px #ddd solid;
  border-radius: 3px;
  height: 20px;
  color: inherit;
  font-family: inherit;
  font-size: 70%;
  padding: 10px 5px;
}
.main .form #form input:focus {
  outline: 2px var(--clr-primary) solid;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
}
.main .form #form header {
  padding-top: 1rem;
  padding-bottom: 0;
}
.main .form #form label {
  text-transform: uppercase;
  font-size: 60%;
}
.main .form #form .form-grid {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 0.5rem 1.5rem;
}
.main .form #form .form-grid div label {
  display: block;
  margin: 5px 0;
}
.main .form #form .form-grid div small {
  color: red;
  font-size: 60%;
}
.main .form #form .form-grid .error input {
  outline: 1px red solid;
}
.main .form #form .submit button {
  outline: none;
  border: none;
  background-color: #5B5F97;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
}
.main .form #form .submit p {
  font-size: 0.8rem;
  margin: 10px 0;
}

button {
  font-family: inherit;
}

a {
  all: unset;
  color: #5B5F97;
  cursor: pointer;
}